@using TestNetMVC.Services
@inject AccountService AccountService
@model TestNetMVC.Models.Request

@{
  var username = ViewData["username"] as string;
  var account = AccountService.FindByUsername(username);
}

<div class="modal" tabindex="-1" role="dialog" id="AddNewRequest">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" asp-controller="Employees" asp-action="AddNewRequest">
        <div class="container-fluid">
          <div class="modal-body row d-flex justify-content-between flex-wrap">
            <div class="form-group col-5">
              <label for="Title">Title<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="Title" placeholder="Title" asp-for="@Model.Title">
            </div>

            <div class="form-group col-12">
              <label for="Description">Description<span class="text-danger">*</span></label>
              <textarea type="text" class="form-control" id="Description" placeholder="Description"
                asp-for="@Model.Description" rows="10"></textarea>
            </div>
            <div class="form-group col-5">
              <label></label>
              <!-- /.List Priority -->
              @await Html.PartialAsync("~/Areas/Shared/Partials/_ListPriorityPartial.cshtml", Model)
              <!-- /.List Priority -->

            </div>

          </div>
          <div class="modal-footer col-12">
            <button type="submit" class="btn btn-primary">Send</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
        <input type="hidden" asp-for="@Model.EmployeeIdSubmit" value="@account.Id">
      </form>
    </div>
  </div>
</div>