@using TestNetMVC.Services
@using TestNetMVC.Models
@inject AccountService AccountService

@{
  var username = ViewData["username"] as string;
  var account = AccountService.FindByUsername(username);
  var request = new Request { };
}

<div class="modal" tabindex="-1" role="dialog" id="AddNewRequest">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" asp-controller="Employees" asp-action="AddNewRequest" id="FormAddNewRequest">
        <div class="container-fluid">
          <div class="modal-body row d-flex justify-content-between flex-wrap">
            <div class="form-group col-5">
              <label for="Title">Title<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="Title" placeholder="Title" asp-for="@request.Title">
              <span id="messTitle" class="text-danger"></span>
            </div>

            <div class="form-group col-12">
              <label for="Description" class="d-block">Description<span class="text-danger">*</span></label>
              <span id="messDescription" class="text-danger"></span>
              <textarea type="text" class="form-control" id="Description" placeholder="Description"
                asp-for="@request.Description" rows="10"></textarea>
            </div>
            <div class="form-group col-5">
              <label></label>
              <!-- /.List Priority -->
              @await Html.PartialAsync("~/Areas/Shared/Partials/_ListPriorityPartial.cshtml")
              <!-- /.List Priority -->

            </div>

          </div>
          <div class="modal-footer col-12">
            <button type="button" class="btn btn-primary" id="btnSend">Send</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
        <input type="hidden" asp-for="@request.EmployeeIdSubmit" value="@account.Id">
      </form>
    </div>
  </div>
</div>


<script>



  $('#btnSend').on("click", function () {

    if (VadilationCustom()) {
      $('#FormAddNewRequest').submit();
    }


  });


  function VadilationCustom() {
    let title = $('#Title').val();
    let description = $('#Description').val();
    let priority = $('#Priority').val();
    let messTitle = $('span#messTitle');
    let messDescription = $('span#messDescription');
    let messPriority = $('span#messPriority');

    let isValid = true;

    if (title == '') {
      messTitle.text('Please Enter Title !!');
      isValid = false;
    } else {
      messTitle.text('');
    }

    if (description == '') {
      messDescription.text('Please Enter Description !!');
      isValid = false;
    } else {
      messDescription.text('');
    }

    if (priority == '-1') {
      messPriority.text('Please Choose Priority !!');
      isValid = false;
    } else {
      messPriority.text('');
    }

    return isValid;
  };

</script>