<h1 class="text-center">Employees</h1>


<div class="row">
  <div class="col-12">
    <div class="card">

      <!-- /.card-header -->

      <partial name="~/Areas/Shared/Partials/_ListEmployeePartial.cshtml" />
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
