@{
  Layout = "~/Areas/Shared/_Layout.cshtml";
}


<div class="container-fluid">

  <h1>Dashboard</h1>

  <hr>

  <span>
    @Context.Session.GetString("username")
  </span>
  @TempData["msg"]

</div>