@using TestNetMVC.Services
@inject PriorityService PriorityService



<div class="input-group-prepend">
  <label class="input-group-text" for="inputGroupSelect01">Priority</label>

  <select class="custom-select" id="Priority" name="PriorityId">
    <!option value="-1" selected>Choose Priority</!option>
    @foreach (var pri in PriorityService.FindAll())
    {
      <!option value="@pri.Id">@pri.PriorityName</!option>
    }
  </select>
</div>
<span class="text-danger" id="messPriority"></span>