@using TestNetMVC.Services
@inject AccountService AccountService
@model int
<div class="input-group-prepend">
  <select class="custom-select" id="inputGroupSelect01" name="RoleId">
    <option value="-1" selected>Choose</option>
    @foreach (var a in AccountService.FindEmployeeSupport())
    {
      <option value="@a.Id">@a.Username</option>
    }
  </select>

  <input type="hidden" value="@Model" id="RequestID">
</div>
