@using TestNetMVC.Services
@inject AccountService AccountService



<select id="AjaxSelectSupport">
  <!option value="-1" selected>Choose</!option>
  @foreach (var a in AccountService.FindEmployeeSupport())
  {

    <option value="@a.Id">@a.Username</option>
  }
</select>
